%li.tienda
  %ul
    %li
      %strong= tienda.nombre
    %li= tienda.direccion
    %li Teléfono y fax: 94 449 08 22
    %li
      %a{:href => "#", :title => "ver mas informacion"} Ver más información »