- title "Tiendas"

#content
  #sidebar
    %h5 SELECCIONA TU TIENDA
    .selectTiendas
      = render :partial => '/shared/selectienda'
    .banner
      %a{:href => "#", :title => "banner"}
        %img.block{:alt => "banner", :src => "images/banner.jpg"}/
  #body
    %h5 TIENDAS
    %ul.listTiendas
      - for tienda in @tiendas
        = render :partial => 'show', :locals => {:tienda => tienda}
  %br.clear/

%p= link_to "New Tienda", new_tienda_path
