- title "Tiendas"

#content
  #sidebar
    %h5 SELECCIONA TU TIENDA
    .selectTiendas
      = render :partial => '/shared/selectienda', :locals => {:tienda => '2'}
    = render :partial => '/shared/banner'
  #body
    %h5 TIENDAS
    %ul.listTiendas
      - for tienda in @tiendas
        = render :partial => 'show', :locals => {:tienda => tienda}
  %br.clear/
