- title "Tiendas"

#content
  #sidebar
    %h5 TIENDAS
    .selectTiendas
      = render :partial => '/shared/selectienda'
    .banner
      - image = Image.first(:conditions => {:section => 'banner'})
      = link_to(image_tag(image.image.url), image.description, :alt => "banner") if image
  #body
    %h5 TIENDAS
    %ul.listTiendas
      - for tienda in @tiendas
        = render :partial => 'show', :locals => {:tienda => tienda}
  %br.clear/
