@charset "utf-8";
/*-----------------------------------------
  				HOME PAGE
 ------------------------------------------*/
#wrapper{
	width:946px;
	margin:0 auto;
}
/*---------------------- 
  HEADER
------------------------*/
#header{
	height:137px;
	background:transparent url(../images/bgHeader.jpg) repeat-x scroll 0 0;
        position:relative;
}
h1.logo{
	float:left;
	height:97px;
	width:222px;
}
h1.logo a{
	background:transparent url(../images/logo.jpg) no-repeat scroll 0 0;
	display:block;
	height:97px;
	width:222px;
}

/*------ nav -------*/
#menu { 
    float:right;
    margin:47px 0 0;
    text-align:right;
    width:550px;
    position:relative;
}
#menu ul.nav{
	display:inline-block; 
}
#menu ul.nav li{
    float:left;
    margin:0 0 0 28px;
}
#menu ul.nav li a{
    color:#5D5E5E;
    font-family:Trebuchet MS;
    font-size:11px;
}
#menu ul.nav li a:hover{
    color:#3B99D4;
    text-decoration:none;
}
#menu ul.nav li ul{
    display:block;
    left:-145px;
    position:absolute;
    top:60px;
    width:700px;
    z-index:100;
}
.breadcrums{
    position:absolute;
    top:108px;
    width:500px;
    text-align: left;
}
.listIcon{
  display: inline-block;
  width: 620px;
}
.breadcrums ul{
    display:inline-block;
}
.breadcrums ul li{
    float:left;
    margin:0 5px 0 0;
}
.breadcrums ul li a{
    color:#343434;
    font-family:Trebuchet MS;
}
.breadcrums ul li a:hover{
    color:#3B99D4;
    text-decoration:none;
}
.breadcrums ul li span{
    color:#3B99D4;
    font-family:Trebuchet MS;
    font-weight:bold;
}
/*------------------------ MAIN CONTENT -------------------------------*/
#content{
	width:946px;
}
/*---------------------- 
  BODY
------------------------*/
#body{
    float:left;
    margin:40px 0 0 106px;
    width:622px;
}
#body h5{
    color:#3A99D4;
    font-family:Trebuchet Ms;
    font-size:18px;
    margin:0 0 25px;
}

#bodyProducts{
    padding:20px 0px 0px;
}
.sobreNosotros{
    border-top:1px solid #DDDDDD;
    padding:35px 0;
}
.sobreNosotros .boxLeft{
    float:left;
    width:445px;
}
.sobreNosotros .boxLeft h3{
    background:url("../images/arrow.jpg") no-repeat scroll right center transparent;
    color:#3A99D4;
    display:inline-block;
    font-family:Trebuchet MS;
    font-size:18px;
    margin:0 0 10px;
    padding:0 20px 0 0;
}
.sobreNosotros .boxLeft p{
    line-height:18px;
    margin:0 0 12px;
}
.sobreNosotros .boxLeft a{
    text-indent:-99999px;
    display:block;
    width:129px;
    height:25px;
    background: transparent url(../images/btnComprarSofa.jpg) no-repeat scroll 0 0;
}
.sobreNosotros .boxRight{
    float:right;
    overflow:hidden;
    text-align:right;
    width:500px;
}
ul.ProductsHome {
    display:inline-block;
}
ul.ProductsHome li{
    background:url("../images/bgProduct.jpg") no-repeat scroll 0 0 transparent;
    float:left;
    height:175px;
    margin:0 0 0 20px;
    padding:8px 8px 8px 9px;
    text-align:left;
    width:210px;
}
ul.ProductsHome li h3{
    background:url("../images/arrow1.jpg") no-repeat scroll right center transparent;
    color:#494849;
    display:inline-block;
    font-family:Trebuchet MS;
    font-size:15px;
    margin:0 0 2px 15px;
    padding:0 12px 0 0;
}
ul.ProductsHome li span{
    display:block;
    margin:0 0 0 15px;
    color:#7a7a7a;
}
/* SIDEBAR */
#sidebar{
    float:left;
    margin:40px 0 0;
    width:218px;
}
#sidebar h5{
    color:#090909;
    font-family:Trebuchet Ms;
    font-size:18px;
    margin:0 0 25px;
}
ul.listTiendaSidebar{
    
}
ul.listTiendaSidebar li.tienda{
    padding:0px 0px 14px 0px;
    border-bottom:1px solid #e2e2e2;
    margin:0px 0px 14px 0px;
}
ul.listTiendaSidebar li.email {
    color:#4A494A;
    font-family:Tahoma;
    font-size:11px;
    margin:0 0 30px;
}
ul.listTiendaSidebar li.email a {
    text-decoration:underline;
}
ul.listTiendaSidebar li.tienda ul{
    color:#4A494A;
    font-family:Tahoma;
    font-size:11px;
    line-height:16px;
}

ul.listTiendaSidebar li.tienda ul li strong{
    font-size:12px;
    font-family:Trebuchet Ms;
    color:#090909;
}
ul.listTiendaSidebar li.tienda ul li a{
    color:#3b99d4;
}
ul.formContact{
    
}
ul.formContact li{
    float:left;
    width:216px;
    margin:0px 27px 25px 0px;
}
ul.formContact li.fieldComment{
   clear:both;
}
ul.formContact li.fieldComment textarea{
    background-color:#E1EFF2;
    clear:both;
    display:block;
    height:318px;
    overflow:auto;
    padding:0 0 0 5px;
    width:459px;
}
ul.formContact li label{
    font-family:Tahoma;
    font-size:12px;
    margin:0px 0px 11px;
    color:#4a494a;
    display:block;
}
ul.formContact li input{
    width:211px;
    height:32px;
    background-color:#e1eff2;
    padding:0px 0px 0px 5px;
    display:block;
}
button.btnSubmit{
    background:url("../images/btnEnviarConsulta.jpg") no-repeat scroll left top transparent;
    border:medium none;
    clear:both;
    cursor:pointer;
    display:block;
    height:39px;
    margin:0 0 20px;
    text-indent:-99999px;
    width:198px;
}
/*------------------------ footer -------------------------------*/
#footer{
	background:transparent url(../images/footer.jpg) repeat-x scroll left top;
}
.subfooter{
    border-bottom:1px solid #DDDDDD;
    border-top:1px solid #DDDDDD;
    padding:35px 0 20px;
}
.print{
    text-indent:-99999px;
    display:block;
    width:289px;
    height:119px;
    float:left;
    background: transparent url(../images/imgDescuentos.jpg) no-repeat scroll 0 0;
}
.listIcon ul{
    
}
.listIcon ul li{
    float:left;
    font-family:trebuchet MS;
    height:40px;
    margin:0 0 0 20px;
    padding:60px 0 0;
    text-align:center;
    width:135px;
}
.listIcon ul li span{
   font-size:11px;
}
.listIcon ul li.bgHorarios{
   background: transparent url(../images/imgHorarios.jpg) scroll no-repeat  center top;
}
.listIcon ul li.bgParking{
   background: transparent url(../images/imgParking.jpg) scroll no-repeat  top center;
}
.listIcon ul li.bgTransporte{
   background: transparent url(../images/imgTransporte.jpg) no-repeat scroll top center;
}
.listIcon ul li.bgFinanciamos{
   background: transparent url(../images/imgFinanciamos.jpg) no-repeat scroll top center;
}
.contentFoot{
    border-bottom:1px solid #DDDDDD;
    padding:34px 0 20px;
}
.comboSelect{
    width:180px;
    float:left;
}
.comboSelect select{
    height:23px;
}
.newsletter{
    float:left;
    margin:0 0 0 70px;
    width:400px;
}
.newsletter input{
    background-color:#F1F0F0;
    border:1px solid #DBDBDB;
    color:#616262;
    display:block;
    float:left;
    font-size:11px;
    height:20px;
    padding:3px 5px 0 0;
    text-align:right;
    width:187px;
}
.btnSuscripcion{
    display:block;
    width:194px;
    height:25px;
    border:none;
    background: transparent url(../images/btnNewsletter.jpg) no-repeat scroll 0 0;
    float:left;
    text-indent:-9999px;
}
.networks{
    float:right;
    width:200px;
}
.networks ul{
   display:inline-block;
}
.networks ul li{
    float:left;
    margin:0 0 0 10px;
}
.networks ul li a{
    display:block;
    height:20px;
    width:54px;
}
.networks ul li a.facebook{
    background: transparent url(../images/facebook.jpg) no-repeat scroll 0 0;
}
.networks ul li a.twitter{
    background: transparent url(../images/twitter.jpg) no-repeat scroll 0 0;
}
.networks ul li a.youtube{
    background: transparent url(../images/youtube.jpg) no-repeat scroll 0 0;
}
.foot{
    padding:20px 0;
}
.foot span{
   color:#3a99d4;
}
/* PAGE PRODUCTOS */
.subheader{
    padding:20px 0px;
    border-bottom:1px solid #DDDDDD;
}
.subheader .left{
     width:215px;
}
.subheader .left h3 , h3.title{
    background:url("../images/arrow.jpg") no-repeat scroll right center transparent;
    color:#3A99D4;
    display:inline-block;
    font-family:Trebuchet MS;
    font-size:14px;
    margin:0 0 10px;
    padding:0 20px 0 0;
}
.subheader .left ul {
    width:195px;
}
.subheader .left ul li{
    border-bottom:1px solid #DDDDDD;
    padding:4px 0;
}
.subheader .left ul li.last{
    border-bottom:none;
}
.subheader .left ul li a{
    font-size:13px;
    color:#494949;
    font-family:TRebuchet MS;
}
.subheader .left ul li a:hover{
    color:#3A99D4;
    text-decoration:none;
}
.subheader .right{
    width:703px;
    overflow:hidden;
}

.products{
    margin:0px 0px 20px;
}
.products ul{
    display:inline-block;
}
.products ul li {
background:url("../images/bgProduct2.jpg") no-repeat scroll right center transparent;
float:left;
height:219px;
   margin:0 16px 10px 0; 
padding:8px 8px 8px 7px;
width:209px;
}
.products ul li.last{
    margin:0px;
}
.products ul li h3{
    background:url("../images/arrow1.jpg") no-repeat scroll right center transparent;
    color:#494849;
    display:inline-block;
    font-size:12px;
    margin:5px 0 2px 15px;
    padding:0 12px 0 0;
}
.products ul li span.description{
    color:#7A7A7A;
    display:block;
    font-size:11px;
    margin:0 0 0 15px;
}
.price{
  display:inline-block;
  margin:5px 0 2px;
}
.price strong{
  background:url("../images/bgPrice.png") no-repeat scroll right center transparent;
  color:#FFFFFF;
  display:block;
  float:left;
  font-size:15px;
  height:26px;
  margin:0 5px 0 15px;
  padding:5px 0 0 11px;
  text-align:center;
  width:70px;
}
.price strong.outlet {
  background:url("../images/bgPricewout.png") no-repeat scroll right center transparent;
}
.price a{
  background:url("../images/reservar.png") no-repeat scroll right center transparent;
  display:block;
  float:left;
  height:31px;
  text-indent:-9999px;
  width:97px;
}
.comparte{
    display:inline-block;
    font-family:arial;
    font-size:10px;
    margin:5px 0 0;
    padding:0 0 0 15px;
}
.comparte div{
  float: right;
}
.comparte .btnFacebook{
    background:transparent url("../images/btnFacebook.jpg") no-repeat scroll left top;
    display:inline-block;
    width:8px;
    height:10px;
    text-indent:-9999px;
}
.comparte .btnTwitter{
    background:transparent url("../images/btnTwitter.jpg") no-repeat scroll left top;
    display:inline-block;
    width:8px;
    height:10px;
    text-indent:-9999px;
}
.comparte .btnRecomienda{
    background:url("../images/email.jpg") no-repeat scroll left center transparent;
    color:#FF8D31;
    padding:0 0 0 13px;
}
.comparte span{
    padding:0 3px;
}
.comparte b{
    color:#3b99d4;
}
/* Page Trabajo */
.banner{
    width:218px;
    margin:0px 0px 30px 0px;
}
.BannerEmail a{
    background:url("../images/bannerEmail.jpg") no-repeat scroll left top transparent;
    width:218px;
    height:241px;
    display:block;
    margin:0px 0px 20px 0px;
    text-indent:-99999px;
}
.contentTrabajo{
    width:408px;
    color:#4a494a;
    font-family:Tahoma;
}
.contentTrabajo p{
    font-size:12px;
    line-height:18px;
    margin:0 0 17px;
}
.contentTrabajo p a{
    color:#3b99d4;
    text-decoration:underline;
}
.contentTrabajo h4{
    font-family:Trebuchet Ms;
    font-size:20px;
    color:#090909;
    margin:0px 0px 15px 0px;
}
ul.ofertasLaborales{
    
}
ul.ofertasLaborales li{
    margin:0 0 35px;
}
ul.ofertasLaborales li h6{
    background:url("../images/ok.jpg") no-repeat scroll left center transparent;
    padding:0px 0px 0px 15px;
    font-family:Trebuchet Ms;
    font-size:14px;
    color:#090909;
}
ul.ofertasLaborales li strong{
    color:#090909;
    display:block;
    font-family:Trebuchet Ms;
    font-size:12px;
    margin:0 0 10px;
}
.contentOferta{
    font-family:Tahoma;
    font-size:12px;
    line-height: 18px;
    margin: 0px 0px 10px 0px;
}
ul.ofertasLaborales li p{
    line-height:18px;
}
ul.ofertasLaborales li a{
    color:#3b99d4;
    font-family: Tahoma;
    font-size:12px;
}
/* PAGE SERVICIOS */
.SofaCaracteristicas{
    background:url("../images/SofaCaracteristicas.jpg") no-repeat scroll left top transparent;
    width:218px;
    height:297px;
    display:block;
    margin:0px 0px 20px 0px;
    text-indent:-99999px;
}
ul.listServicios{
    font-family:Tahoma;
    width:430px;
}
ul.listServicios li{
    padding:0px 0px 20px 45px;

}
ul.listServicios li h3{
    color:#090909;
    font-family:Trebuchet MS;
    font-size:20px;
    margin:0 0 5px;
}
ul.listServicios li p{
    line-height:18px;
    margin:0 0 18px;
}
ul.listServicios li p a{
    color:#3b99d4;
    text-decoration:underline;
}
ul.listServicios li.iconHorario{
    background:url("../images/bgHorarios.jpg") no-repeat scroll left top transparent;
}
ul.listServicios li.iconTransporte{
    background:url("../images/bgParking.jpg") no-repeat scroll left top transparent;
}
ul.listServicios li.iconParking{
    background:url("../images/bgTransporte.jpg") no-repeat scroll left top transparent;
}
ul.listServicios li.iconCompra{
    background:url("../images/bgFinanciamos.jpg") no-repeat scroll left top transparent;
}
.line{
    border-bottom:1px solid #e2e2e2;
}
/* PAGE TIENDA */
.selectTiendas{
    background:url("../images/bgSelectTienda.jpg") no-repeat scroll left top transparent;
    width:218px;
    height:145px;
    padding:45px 0px 0px 0px;
    margin:0 0 20px;
}
.selectTiendas select{
    display:block;
    font-size:15px;
    height:25px;
    margin:0 auto;
    width:150px;
}
ul.listTiendas{
    font-family:Tahoma;
    color:#4a494a;
}
ul.listTiendas li.tienda{
    margin:0px 0px 45px 0px;
}
ul.listTiendas li.tienda h2{
    font-family:Trebuchet Ms;
    font-size:20px;
    color:#090909;
}
ul.listTiendas li.tienda p{
    line-height:17px;
}
ul.listTiendas li.tienda p span.direction{
    display:block;
}
ul.listTiendas li.tienda p span.phone{
    display:block;
}
ul.listTiendas li.tienda  strong, ul.listTiendas li.tienda  a,#body ul.listTiendas li.tienda  h5{
    color:#272727;
    font-family:Trebuchet Ms;
    font-size:14px;
    font-weight:bold;
    margin:0 0 10px;
}
ul.listTiendas li.tienda  a.linkMaps{
    background:url("../images/maps.jpg") no-repeat scroll right center transparent;
    display:inline-block;
    margin:10px 0;
    padding:0 20px 0 0;
}
ul.listTiendas li.tienda blockquote{
    line-height:17px;
}
ul.listImgTiendas{
    display:inline-block;
}
ul.listImgTiendas li{
    background:url("../images/bgImgTienda.jpg") no-repeat scroll left top transparent;
    width:67px;
    height:46px;
    padding:6px;
    float:left;
    margin:0px 10px 0px 0px;
}
.nivo-controlNav{
  bottom:10px;
  height:20px;
  position:absolute;
  right:20px;
  width:100px;
}
.nivo-controlNav a{
    background:url(/images/bgNumber.png) no-repeat scroll left top transparent;
    width:17px;
    height:16px;
    padding:1px 0px 0px 0px;
    font-weight: normal;
    color: #000;
    display: block;
    float: left;
    margin: 0px 5px 0px 0px;
    text-align: center;

}
.nivo-controlNav a:hover{
    text-decoration: none;
    color: #3A99D4;
}
.nivo-controlNav a.active {
    text-decoration: none;
    color: #3A99D4;
    font-weight: bold;
}