#footer
  .subfooter
    - url_to_download = "#"
    - url_to_download = Image.cupon.image.url() if Image.cupon
    = link_to('imprime tu descuento', url_to_download, :class => 'print', :title => "imprime tu descuento", :onclick=>"this.target='_blank'")
    .listIcon
      %ul
        %li.bgHorarios
          %strong Amplios horarios
          %span De Lunes a Sábados
        %li.bgParking
          %strong Parking propio
        %li.bgTransporte
          %strong Transporte y montaje
          %span GRATUITOS
        %li.bgFinanciamos
          %strong Financiamos su
          %span compra
    %br.clear/
  .contentFoot
    .comboSelect
      = render :partial => '/shared/selectienda'
    .newsletter
      - form_for(Newsletter.new) do |f|
        = f.text_field(:email, :value => "Tu correo @qu\303\255")
        %button.btnSuscripcion SUSCRÍBETE AL NEWSLETTER
    .networks
      %ul
        - Image.all(:conditions => {:section => 'footer'}).each do |icon|
          %li
            = link_to(image_tag(icon.image.url), icon.url, :title => icon.description)
    %br.clear/
  .foot
    .left
      Diseño
      %a{:href => "http://elpoderdelosimple.com/", :title => "El poder de lo simple"} El poder de lo simple.
    .right
      %span © 2010 Grupo Palsofá
      Todos los derechos reservados
    %br.clear/