#header
  %h1.logo
    %a{:href => "/", :title => "Palsofa Grupo"}
      %span.n Palsofa Grupo
  %h2.n Venta de sofas
  #menu
    %ul.nav
      %li
        %a{:href => "#", :title => "inicio"}
          INICIO
      %li
        %a{:href => "#", :title => "productos"}
          PRODUCTOS
        %ul
          %li
            %a{:href => "#", :title => "SOF\303\201S 3+2"} SOFÁS 3+2
          %li
            %a{:href => "#", :title => " SOF\303\201S CAMA"} SOFÁS CAMA
          %li
            %a{:href => "#", :title => "CHAISELONGUE"} CHAISELONGUE
          %li
            %a{:href => "#", :title => "RELAX"} RELAX
          %li
            %a{:href => "#", :title => "RINCONERAS"} RINCONERAS
          %li
            %a{:href => "#", :title => "BUTACAS"} BUTACAS
          %li
            %a{:href => "#", :title => "DESCANSO"} DESCANSO
          %li
            %a{:href => "#", :title => "OUTLET"} OUTLET
      %li
        %a{:href => "#", :title => "About Susan"}
          SERVICIOS
      %li
        %a{:href => "#", :title => "trabaja con nosotros"}
          TRABAJA CON NOSOTROS
      %li
        = link_to('TIENDAS', tiendas_path, :title => "Tiendas")
      %li
        %a{:href => "#", :title => "contacto"}
          CONTACTO
  .breadcrums
    %ul
      %li
        Estás aquí:
      %li
        %a{:href => "#", :title => "home"} Home
        %b >
      %li
        %span Productos