- form_tag(tiendas_path, :method => :get, :id => 'selectienda'+tienda) do
  %div
    = select_tienda
:javascript
  $(document).ready(function(){
  $('#selectienda#{tienda} select.selectienda').change(function(){
    $('#selectienda#{tienda}').submit();
  });
  });