- form_tag(tiendas_path, :method => :get, :id => 'selectienda') do
  %div
    = select_tienda
:javascript
  $(document).ready(function(){
  $('select.selectienda').change(function(){
    $('#selectienda').submit();
  });
  });