#content
  #sidebar
    %h5 SELECCIONA TU TIENDA
    %ul.listTiendaSidebar
      - for tienda in @tiendas
        = render :partial => '/tiendas/show_detail', :locals => {:tienda => tienda}
  #body
    %h5 FORMULARIO DE CONTACTO
    - form_tag({:action => 'sended'}) do
      %ul.formContact
        %li
          %label Nombre y Apellido
          %input#nombre{:name => "nombre", :type => "text", :value => ""}/
        %li
          %label E-mail
          %input#E-mail{:name => "email", :type => "text", :value => ""}/
        %li
          %label Teléfono
          %input#telefono{:name => "telefono", :type => "text", :value => ""}/
        %li
          %label Ciudad
          %input#Ciudad{:name => "Ciudad", :type => "text", :value => ""}/
        - if params[:product]
          %li
            %label Producto
            %input#producto{:name => "producto", :type => "text", :value => Product.first(params[:product]).name}/
        %li.fieldComment
          %label Mensaje
          %textarea#mensaje{:cols => "4", :name => "mensaje", :rows => "4"}
      %button.btnSubmit{:type => "submit"} Enviar Consulta
  %br.clear/