- title "Pages"
#slider.slideshow
  - @slideshows.each do |image|
    = image_tag(image.image.url(), :height => "384", :width => "946", :alt => image.description)
#content
  .sobreNosotros
    .boxLeft
      %h3 Sobre Nosotros
      %p El Lorem ipsum Grupo Palsofá se dedica a la venta de sofás desde hace más de 15 años. En la actualidad posee 5 tiendas.
      %p Su posicionamiento como empresa: sofás de buena calidad a precio económico. El Lorem ipsum Grupo Palsofá se dedica a la venta de sofás desde hace más de 15 años. En la actualidad posee 5 tiendas. Su posicionamiento como empresa: sofás de buena calidad a precio económico.
      %a.btnComprarSofa{:href => "#", :title => "comprar sofa"} Comprar Sofa
    .boxRight
      %ul.ProductsHome
        %li
          %a{:href => "#", :title => "product"}
            %img{:alt => "product", :src => "images/imgProduct.jpg"}/
          %h3 Sofas
          %span Todos los sofás 30% off
        %li
          %a{:href => "#", :title => "product"}
            %img{:alt => "product", :src => "images/imgProduct.jpg"}/
          %h3 Sofas
          %span Todos los sofás 30% off
    %br.clear/
