- title "Palsofa"
#slider.slideshow
  - @slideshows.each do |image|
    = image_tag(image.image.url(), :height => "384", :width => "946", :alt => image.description)
#content
  .sobreNosotros
    .boxLeft
      %h3 Sobre Nosotros
      %p Somos el grupo líder en ventas de sofás en Vizcaya. En nuestras 5 tiendas encontrará la gama más amplia en sofás en piel y tela, modelos 3+2 , sofás cama, relax, butacas, chaiselongue, sofás rinconera.
      %p El Grupo Palsofá es garantía de variedad, calidad y precio. Acérquese a conocernos y seguro encontrará el sofá que está buscando.
      
      %a.btnComprarSofa{:href => "#", :title => "comprar sofa"} Comprar Sofa
    .boxRight
      %ul.ProductsHome
        %li
          %a{:href => "#", :title => "product"}
            %img{:alt => "product", :src => "images/imgProduct.jpg"}/
          %h3 Sofas
          %span Todos los sofás 30% off
        %li
          %a{:href => "#", :title => "product"}
            %img{:alt => "product", :src => "images/imgProduct.jpg"}/
          %h3 Sofas
          %span Todos los sofás 30% off
    %br.clear/
