#content
  #sidebar
    %h5 DISFRUTA PALSOFÁ
    .SofaCaracteristicas
      %ul
        %li Amplio horario
        %li Transporte y montaje Gratuitos
        %li Parking propio
        %li Financiamos su compra
    .banner
      - image = Image.first(:conditions => {:section => 'banner'})
      = link_to(image_tag(image.image.url), image.description, :alt => "banner")
  #body
    %h5 SERVICIOS
    %ul.listServicios
      %li.iconHorario
        %h3 Amplio Horario
        %p
          Abrimos nuestras tiendas de lunes tarde a sábado tarde (lunes mañana, cerrado). Para conocer los horarios de cada uno de nuestros centros, consulte en la sección
          %a{:href => "#", :title => "tiendas"} Tiendas
          \.
        .line
      %li.iconTransporte
        %h3 Transporte y montaje gratuitos
        %p
          Usted preocúpese únicamente de elegir bien el sofá o colchón que busca, del resto nos encargamos nosotros. Le llevamos su compra a cualquier punto de Vizcaya y cercanías, con el montaje incluí­do, sin coste alguno. Además le ofrecemos la opción de retirada del sofá o colchón usado. Consulte condiciones en cualquier tienda.
        .line
      %li.iconParking
        %h3 Parking propio
        %p
          Las 5 tiendas del Grupo Palsofá le ofrecen parking gratuito propio, con la excepción de Sofatti. A esta tienda se puede llegar en Bilbobus (Parada de Zumalakarregi, Tomás Zubiria, lí­neas 13,22,27,30,38,48,62,A1,A5), Eusko tren (Ascensor de Zumalakarregi) y pronto con parada de Metro Bilbao.
        .line
      %li.iconCompra
        %h3 Financiamos su compra
        %p
          Compre su sofá o colchón con la garantía de financiación personalizada. Para conocer nuestras formas de financiación, consulte en cualquiera de nuestras tiendas.
  %br.clear/