#content
  #sidebar
    %h5 TRABAJA EN PALSOFÁ
    .BannerEmail
      %a{:href => "mailto:empleo@palsofa.com", :title => "email"}
        Buscamos tu ayuda,escribe a:empleo@palsofa.com
        Esperamos tu CV y tus datos.
    .banner
      - image = Image.first(:conditions => {:section => 'banner'})
      = link_to(image_tag(image.image.url), image.description, :alt => "banner") if image
  #body
    %h5 EMPLEO
    .contentTrabajo
      %p
        En el
        %strong Grupo Palsofá
        buscamos a personas con vocación comercial, con o sin experiencia en el sector del mueble, personas dinámicas, resolutivas, con iniciativa, autonomía en el desempeño de su función, buen nivel de interlocución y gran orientación al cliente.
      %p
        Si crees que tú eres una de ellas, mándanos un curriculum con foto a la siguiente dirección
        %a{:href => "mailto:empleo@palsofa.com", :title => "email"} empleo@palsofa.com
      %h4 Ofertas vigentes
      %ul.ofertasLaborales
        %li
          %h6 Atención al cliente
          %strong.date Lunes 5 de Abril, 2010.
          .contentOferta
            %p
              Se precisan teleoperadores en turno de tarde para campaña de orange. 5 horas de lunes a viernes que puedes compatibilizar con tu trabajo o estudios. No es necesaria experiencia.
            %p
              Ofrecemos sueldo fijo de 560€ mas importantes comisiones e incentivos.
          %a.linkOferta{:href => "#", :title => "Postular por correo"} Postular por correo »
        %li
          %h6 Atención al cliente
          %strong.date Lunes 5 de Abril, 2010.
          .contentOferta
            %p
              Se precisan teleoperadores en turno de tarde para campaña de orange. 5 horas de lunes a viernes que puedes compatibilizar con tu trabajo o estudios. No es necesaria experiencia.
            %p
              Ofrecemos sueldo fijo de 560€ mas importantes comisiones e incentivos.
          %a.linkOferta{:href => "#", :title => "Postular por correo"} Postular por correo »
        %li
          %h6 Atención al cliente
          %strong.date Lunes 5 de Abril, 2010.
          .contentOferta
            %p
              Se precisan teleoperadores en turno de tarde para campaña de orange. 5 horas de lunes a viernes que puedes compatibilizar con tu trabajo o estudios. No es necesaria experiencia.
            %p
              Ofrecemos sueldo fijo de 560€ mas importantes comisiones e incentivos.
          %a.linkOferta{:href => "#", :title => "Postular por correo"} Postular por correo »
        %li
          %h6 Atención al cliente
          %strong.date Lunes 5 de Abril, 2010.
          .contentOferta
            %p
              Se precisan teleoperadores en turno de tarde para campaña de orange. 5 horas de lunes a viernes que puedes compatibilizar con tu trabajo o estudios. No es necesaria experiencia.
            %p
              Ofrecemos sueldo fijo de 560€ mas importantes comisiones e incentivos.
          %a.linkOferta{:href => "#", :title => "Postular por correo"} Postular por correo »
  %br.clear/