#content
  #sidebar
    %h5 TRABAJA EN PALSOFÁ
    .BannerEmail
      %a{:href => "mailto:empleo@palsofa.com", :title => "email"}
        Buscamos tu ayuda,escribe a:empleo@palsofa.com
        Esperamos tu CV y tus datos.
    = render :partial => '/shared/banner'
  #body
    %h5 EMPLEO
    .contentTrabajo
      %p
        En el
        %strong Grupo Palsofá
        buscamos a personas con vocación comercial, con o sin experiencia en el sector del mueble, personas dinámicas, resolutivas, con iniciativa, autonomía en el desempeño de su función, buen nivel de interlocución y gran orientación al cliente.
      %p
        Si crees que tú eres una de ellas, mándanos un curriculum con foto a la siguiente dirección
        %a{:href => "mailto:empleo@palsofa.com", :title => "email"} empleo@palsofa.com
      %h4 Ofertas vigentes
      %ul.ofertasLaborales
        - Job.all(:limit => 10).each do |job|
          %li
            %h6= job.title
            %strong.date= l(job.datejob, :format => :long)
            .contentOferta
              = job.description
            %a.linkOferta{:href => "mailto:empleo@palsofa.com", :title => "Enviar candidatura"} Mandar curriculum »
  %br.clear/