<% form_for @item, :url  => options, :html => { :multipart => true } do |form| %>
  <fieldset class="inputs">
    <ol>
      <%= build_form(@fields, form) %>
      <li>
        <label>
          Seccion (si es necesario)
        </label>
        <%= form.select(:section, {'--Ninguno--' => '',
            'Imagen para la pagina principal' => 'slide-index',
            'Imagen/pdf para cupon' => 'cupon',
            'Banner' => 'banner',
            'Iconos sociales' => 'footer'
          }, :selected => ((@item.section?) ? @item.section : ''))
      %>
      </li>
    </ol>
  </fieldset>
  <fieldset class="buttons">
    <ol>
      <li><%= submit_tag button , :class => 'commit' %></li>
    </ol>
  </fieldset>
<% end %>
<script>
  if($('#flash:contains("Tienda")')[0] != null  || $('#flash:contains("Product")')[0] != null){
    $('#new_image li:eq(1)').hide();
    $('#new_image li:eq(3)').hide();
  }
  $(document).ready(function(){
    $('#image_section').change(function(){
      if($('#image_section option:selected').val() == 'cupon'){
        $('#new_image li:eq(1)').hide();
        $('#new_image li:eq(2) label').html('Imagen o Pdf del cupon');
      } else {
        $('#new_image li:eq(1)').show();
        $('#new_image li:eq(2) label').html('Imagen que se añadira');
      }
    });
  });
</script>