%li
  %a{:href => "#", :title => "product"}
    %img{:alt => "product", :src => "images/imgProduct.jpg"}/
  %h3 Sofá esquinero London
  %span.description Todos los sofás 30% off
  .price
    %strong € 350
    %a{:href => "#", :title => "reservar"} reservar
    %br.clear/
  .comparte
    %b Comparte en:
    %a.btnFacebook{:href => "#", :title => "facebook"} Facebook
    %span l
    %a.btnTwitter{:href => "#", :title => "facebook"} twitter
    %span l
    %a.btnRecomienda{:href => "#", :title => "facebook"} Recomienda
