#content
  .subheader
    .left
      %h3 BUSCA POR CATEGORÍA
      %ul
        - @categories.each do |category|
          %li= link_to(category.name, {:id => category.name, :action => 'show'}, :title => category.name)
    .right
      %img{:alt => "palsofa", :src => "/images/img1.jpg"}
    %br.clear
  #bodyProducts
    .products
      %h3.title OPORTUNIDADES
      %ul
        - Product.select_product(params[:id], 'Oportunidad').each do |product|
          = render :partial => 'show', :locals => {:sofa => product}
    .products
      %h3.title NOVEDADES
      %ul
        - Product.select_product(params[:id], 'Novedad').each do |product|
          = render(:partial => 'show', :locals => {:sofa => product})
    .products
      %h3.title LOS MÁS VENDIDOS
      %ul
        - Product.select_product(params[:id], 'Mas vendido').each do |product|
          = render(:partial => 'show', :locals => {:sofa => product})