- title "Image"

%p
  %strong Description:
  =h @image.description
%p
  %strong Image Filename:
  =h @image.image_filename

%p
  = link_to "Edit", edit_image_path(@image)
  |
  = link_to "Destroy", @image, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", images_path
